@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application
{
	skinClass: ClassReference("skins.fTheme.s.ApplicationSkin");
}

s|Button
{
	skinClass: ClassReference("skins.fTheme.s.ButtonSkin");
}

s|Button.emphasized
{
	skinClass: ClassReference("skins.fTheme.s.ButtonSkin");
}

s|ButtonBar 
{
	skinClass: ClassReference("skins.fTheme.s.ButtonBarSkin");
}

s|CheckBox
{
	skinClass: ClassReference("skins.fTheme.s.CheckBoxSkin");
}

s|ComboBox
{
	skinClass: ClassReference("skins.fTheme.s.ComboBoxSkin");
}

s|DropDownList
{
	skinClass: ClassReference("skins.fTheme.s.DropDownListSkin");
}

s|HScrollBar
{
	skinClass: ClassReference("skins.fTheme.s.HScrollBarSkin");
}

s|HSlider
{
	skinClass: ClassReference("skins.fTheme.s.HSliderSkin");
}

s|List
{
	skinClass: ClassReference("skins.fTheme.s.ListSkin");
}

/*s|MuteButton
{
	skinClass: ClassReference("skins.fTheme.s.mediaClasses.MuteButtonSkin");
}*/

s|NumericStepper
{
	skinClass: ClassReference("skins.fTheme.s.NumericStepperSkin");
}

s|Panel
{
	skinClass: ClassReference("skins.fTheme.s.PanelSkin");
}

s|RadioButton
{
	skinClass: ClassReference("skins.fTheme.s.RadioButtonSkin");
}

/*s|ScrubBar
{
	skinClass: ClassReference("skins.fTheme.s.mediaClasses.ScrubBarSkin");
}*/

s|Spinner
{
	skinClass: ClassReference("skins.fTheme.s.SpinnerSkin"); 
}

s|TabBar
{
	skinClass: ClassReference("skins.fTheme.s.TabBarSkin"); 
}

s|TextArea
{
	skinClass: ClassReference("skins.fTheme.s.TextAreaSkin");
}

s|TextInput
{
	skinClass: ClassReference("skins.fTheme.s.TextInputSkin");
}

s|TitleWindow
{
	skinClass: ClassReference("skins.fTheme.s.TitleWindowSkin");
}

s|ToggleButton
{
	skinClass: ClassReference("skins.fTheme.s.ToggleButtonSkin");
}

/*s|VideoPlayer
{
	skinClass: ClassReference("skins.fTheme.s.VideoPlayerSkin");
}*/

/*s|VolumeBar
{
	skinClass: ClassReference("skins.fTheme.s.mediaClasses.VolumeBarSkin");
}*/

s|VScrollBar
{
	skinClass: ClassReference("skins.fTheme.s.VScrollBarSkin");
}

s|VSlider
{
	skinClass: ClassReference("skins.fTheme.s.VSliderSkin");
}

mx|Accordion
{
	border-skin: ClassReference("skins.fTheme.m.BorderSkin");
}

mx|AccordionHeader
{
	skin: ClassReference("skins.fTheme.m.AccordionHeaderSkin");
}

mx|Button
{
	skin: ClassReference("skins.fTheme.m.ButtonSkin");
	emphasizedSkin: ClassReference("skins.fTheme.m.ButtonSkin");
}

mx|ButtonBar
{
	firstButtonStyleName: buttonBarFirstButton;
	buttonStyleName: buttonBarMiddleButton;
	lastButtonStyleName: buttonBarLastButton;
}

.buttonBarFirstButton
{
	skin: ClassReference("skins.fTheme.m.ButtonBarFirstButtonSkin");
}

.buttonBarMiddleButton
{
	skin: ClassReference("skins.fTheme.m.ButtonBarMiddleButtonSkin");
}

.buttonBarLastButton
{
	skin: ClassReference("skins.fTheme.m.ButtonBarLastButtonSkin");
}

mx|CheckBox
{
	icon: ClassReference("skins.fTheme.m.CheckBoxSkin");
}

mx|ColorPicker
{
	skin: ClassReference("skins.fTheme.m.ColorPickerSkin");
}

/*mx|SwatchPanel
{
	backgroundColor: #FFFFFF;
	highlightColor: #FFFFFF;
	borderColor: #5380D0;
	shadowColor: #5380D0;
	swatch-border-color: #000000;
}*/

mx|ComboBox
{
	skin: ClassReference("skins.fTheme.m.ComboBoxSkin");
	editableSkin: ClassReference("skins.fTheme.m.EditableComboBoxSkin");
}

mx|DataGrid
{
	borderSkin: ClassReference("skins.fTheme.m.BorderSkin");
	headerBackgroundSkin: ClassReference("skins.fTheme.m.DataGridHeaderBackgroundSkin");
	headerSeparatorSkin: ClassReference("skins.fTheme.m.DataGridHeaderSeparatorSkin");
}

/*.dropDown
{
	borderSkin: ClassReference("skins.fTheme.m.DropDownSkin");
}*/

/*mx|HDividedBox
{
	divider-skin: ClassReference("skins.fTheme.m.DividerSkin");	
}*/

mx|HorizontalList
{
	borderSkin: ClassReference("skins.fTheme.m.BorderSkin");
}

/*mx|HRule
{
	strokeColor: #5380D0;
	stroke-width: 1;	
}*/

mx|LinkButton
{
	skin: ClassReference("skins.fTheme.m.LinkButtonSkin");	
}

mx|List
{
	borderSkin: ClassReference("skins.fTheme.m.BorderSkin");
}

mx|MenuBar
{
	backgroundSkin: ClassReference("skins.fTheme.m.MenuBarSkin");
}

/*mx|Menu
{
	borderSkin: ClassReference("skins.fTheme.m.MenuSkin");
	checkIcon: ClassReference("skins.fTheme.m.MenuCheck");
	arrowIcon: ClassReference("skins.fTheme.m.MenuArrow");
}

.menu
{
	borderSkin: ClassReference("skins.fTheme.m.MenuSkin");
	checkIcon: ClassReference("skins.fTheme.m.MenuCheck");
	arrowIcon: ClassReference("skins.fTheme.m.MenuArrow");
}

mx|MenuBarItem
{
	itemUpSkin: ClassReference("skins.fTheme.m.MenuBarItemSkin");
	itemOverSkin: ClassReference("skins.fTheme.m.MenuBarItemSkin");
	itemDownSkin: ClassReference("skins.fTheme.m.MenuBarItemSkin");
}*/

mx|NumericStepper
{
	downArrowSkin: ClassReference("skins.fTheme.m.StepperDecrButtonSkin");
	upArrowSkin: ClassReference("skins.fTheme.m.StepperIncrButtonSkin");
}

mx|Panel
{
	borderSkin: ClassReference("skins.fTheme.m.PanelBorderSkin");
}

mx|PopUpButton
{
	skin: ClassReference("skins.fTheme.m.PopUpButtonSkin");
}

mx|PopUpMenuButton
{
	skin: ClassReference("skins.fTheme.m.PopUpButtonSkin");
}

mx|ProgressBar
{
	barSkin: ClassReference("skins.fTheme.m.ProgressBarSkin");
	trackSkin: ClassReference("skins.fTheme.m.ProgressBarTrackSkin");
	/*indeterminateSkin: ClassReference("skins.fTheme.m.ProgressIndeterminateSkin");*/
}

mx|RadioButton
{
	icon: ClassReference("skins.fTheme.m.RadioButtonSkin");
}

mx|ScrollBar
{
	trackSkin: ClassReference("skins.fTheme.m.ScrollBarTrackSkin");
	thumbSkin: ClassReference("skins.fTheme.m.ScrollBarThumbSkin");
	upArrowSkin: ClassReference("skins.fTheme.m.ScrollBarUpButtonSkin");
	downArrowSkin: ClassReference("skins.fTheme.m.ScrollBarDownButtonSkin");
}

mx|Slider
{
	trackSkin: ClassReference("skins.fTheme.m.SliderTrackSkin");
	thumbSkin: ClassReference("skins.fTheme.m.SliderThumbSkin");
}

mx|TabBar
{
	firstTabStyleName: tabBarTab;
	tabStyleName: tabBarTab;
	lastTabStyleName: tabBarTab;
}

.tabBarTab
{
	skin: ClassReference("skins.fTheme.m.TabSkin");	
}

mx|TabNavigator
{
	borderSkin: ClassReference("skins.fTheme.m.BorderSkin");
}

mx|TextInput
{
	borderSkin: ClassReference("skins.fTheme.m.TextInputSkin");
}

mx|TextArea
{
	borderSkin: ClassReference("skins.fTheme.m.TextAreaSkin");
}

mx|TileList
{
	borderSkin: ClassReference("skins.fTheme.m.BorderSkin");
}

mx|TitleWindow
{
	closeButtonUpSkin: ClassReference("skins.fTheme.m.TitleWindowCloseButtonUpSkin");
	closeButtonOverSkin: ClassReference("skins.fTheme.m.TitleWindowCloseButtonOverSkin");
	closeButtonDownSkin: ClassReference("skins.fTheme.m.TitleWindowCloseButtonDownSkin");
}

/*mx|ToolTip
{
	borderSkin: ClassReference("skins.fTheme.m.ToolTipSkin");
}*/

/*mx|Tree
{
	folderClosedIcon: Embed(source="assets/Tree_folderClosedIcon.png");
	folderOpenIcon: Embed(source="assets/Tree_folderOpenIcon.png");
}*/

/*mx|VDividedBox
{
	divider-skin: ClassReference("skins.fTheme.m.DividerSkin");	
}*/

/*mx|VRule
{
	strokeColor: #5380D0;
	stroke-width: 1;
}*/