@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|Application
{
	skinClass: ClassReference("s.skins.fTheme.ApplicationSkin");
}

s|Button
{
	skinClass: ClassReference("s.skins.fTheme.ButtonSkin");
}

s|Button.emphasized
{
	skinClass: ClassReference("s.skins.fTheme.ButtonSkin");
}

s|ButtonBar 
{
	skinClass: ClassReference("s.skins.fTheme.ButtonBarSkin");
}

s|CheckBox
{
	skinClass: ClassReference("s.skins.fTheme.CheckBoxSkin");
}

s|ComboBox
{
	skinClass: ClassReference("s.skins.fTheme.ComboBoxSkin");
}

s|DropDownList
{
	skinClass: ClassReference("s.skins.fTheme.DropDownListSkin");
}

s|HScrollBar
{
	skinClass: ClassReference("s.skins.fTheme.HScrollBarSkin");
}

s|HSlider
{
	skinClass: ClassReference("s.skins.fTheme.HSliderSkin");
}

s|List
{
	skinClass: ClassReference("s.skins.fTheme.ListSkin");
}

/*s|MuteButton
{
	skinClass: ClassReference("s.skins.fTheme.mediaClasses.MuteButtonSkin");
}*/

s|NumericStepper
{
	skinClass: ClassReference("s.skins.fTheme.NumericStepperSkin");
}

s|Panel
{
	skinClass: ClassReference("s.skins.fTheme.PanelSkin");
}

s|RadioButton
{
	skinClass: ClassReference("s.skins.fTheme.RadioButtonSkin");
}

/*s|ScrubBar
{
	skinClass: ClassReference("s.skins.fTheme.mediaClasses.ScrubBarSkin");
}*/

s|Spinner
{
	skinClass: ClassReference("s.skins.fTheme.SpinnerSkin"); 
}

s|TabBar
{
	skinClass: ClassReference("s.skins.fTheme.TabBarSkin"); 
}

s|TextArea
{
	skinClass: ClassReference("s.skins.fTheme.TextAreaSkin");
}

s|TextInput
{
	skinClass: ClassReference("s.skins.fTheme.TextInputSkin");
}

s|TitleWindow
{
	skinClass: ClassReference("s.skins.fTheme.TitleWindowSkin");
}

s|ToggleButton
{
	skinClass: ClassReference("s.skins.fTheme.ToggleButtonSkin");
}

/*s|VideoPlayer
{
	skinClass: ClassReference("s.skins.fTheme.VideoPlayerSkin");
}*/

/*s|VolumeBar
{
	skinClass: ClassReference("s.skins.fTheme.mediaClasses.VolumeBarSkin");
}*/

s|VScrollBar
{
	skinClass: ClassReference("s.skins.fTheme.VScrollBarSkin");
}

s|VSlider
{
	skinClass: ClassReference("s.skins.fTheme.VSliderSkin");
}

mx|Accordion
{
	border-skin: ClassReference("m.skins.fTheme.BorderSkin");
}

mx|AccordionHeader
{
	skin: ClassReference("m.skins.fTheme.AccordionHeaderSkin");
}

mx|Button
{
	skin: ClassReference("m.skins.fTheme.ButtonSkin");
	emphasizedSkin: ClassReference("m.skins.fTheme.ButtonSkin");
}

mx|ButtonBar
{
	firstButtonStyleName: buttonBarFirstButton;
	buttonStyleName: buttonBarMiddleButton;
	lastButtonStyleName: buttonBarLastButton;
}

.buttonBarFirstButton
{
	skin: ClassReference("m.skins.fTheme.ButtonBarFirstButtonSkin");
}

.buttonBarMiddleButton
{
	skin: ClassReference("m.skins.fTheme.ButtonBarMiddleButtonSkin");
}

.buttonBarLastButton
{
	skin: ClassReference("m.skins.fTheme.ButtonBarLastButtonSkin");
}

mx|CheckBox
{
	icon: ClassReference("m.skins.fTheme.CheckBoxSkin");
}

mx|ColorPicker
{
	skin: ClassReference("m.skins.fTheme.ColorPickerSkin");
}

/*mx|SwatchPanel
{
	backgroundColor: #FFFFFF;
	highlightColor: #FFFFFF;
	borderColor: #5380D0;
	shadowColor: #5380D0;
	swatch-border-color: #000000;
}*/

mx|ComboBox
{
	skin: ClassReference("m.skins.fTheme.ComboBoxSkin");
	editableSkin: ClassReference("m.skins.fTheme.EditableComboBoxSkin");
}

mx|DataGrid
{
	borderSkin: ClassReference("m.skins.fTheme.BorderSkin");
	headerBackgroundSkin: ClassReference("m.skins.fTheme.DataGridHeaderBackgroundSkin");
	headerSeparatorSkin: ClassReference("m.skins.fTheme.DataGridHeaderSeparatorSkin");
}

/*.dropDown
{
	borderSkin: ClassReference("m.skins.fTheme.DropDownSkin");
}*/

/*mx|HDividedBox
{
	divider-skin: ClassReference("m.skins.fTheme.DividerSkin");	
}*/

mx|HorizontalList
{
	borderSkin: ClassReference("m.skins.fTheme.BorderSkin");
}

/*mx|HRule
{
	strokeColor: #5380D0;
	stroke-width: 1;	
}*/

mx|LinkButton
{
	skin: ClassReference("m.skins.fTheme.LinkButtonSkin");	
}

mx|List
{
	borderSkin: ClassReference("m.skins.fTheme.BorderSkin");
}

mx|MenuBar
{
	backgroundSkin: ClassReference("m.skins.fTheme.MenuBarSkin");
}

/*mx|Menu
{
	borderSkin: ClassReference("m.skins.fTheme.MenuSkin");
	checkIcon: ClassReference("m.skins.fTheme.MenuCheck");
	arrowIcon: ClassReference("m.skins.fTheme.MenuArrow");
}

.menu
{
	borderSkin: ClassReference("m.skins.fTheme.MenuSkin");
	checkIcon: ClassReference("m.skins.fTheme.MenuCheck");
	arrowIcon: ClassReference("m.skins.fTheme.MenuArrow");
}

mx|MenuBarItem
{
	itemUpSkin: ClassReference("m.skins.fTheme.MenuBarItemSkin");
	itemOverSkin: ClassReference("m.skins.fTheme.MenuBarItemSkin");
	itemDownSkin: ClassReference("m.skins.fTheme.MenuBarItemSkin");
}*/

mx|NumericStepper
{
	downArrowSkin: ClassReference("m.skins.fTheme.StepperDecrButtonSkin");
	upArrowSkin: ClassReference("m.skins.fTheme.StepperIncrButtonSkin");
}

mx|Panel
{
	borderSkin: ClassReference("m.skins.fTheme.PanelBorderSkin");
	/*controlBarStyleName: controlBar;*/
}

/*.controlBar
{
	borderSkin: ClassReference("m.skins.fTheme.ControlBarSkin");	
}*/

mx|PopUpButton
{
	skin: ClassReference("m.skins.fTheme.PopUpButtonSkin");
}

mx|PopUpMenuButton
{
	skin: ClassReference("m.skins.fTheme.PopUpButtonSkin");
}

mx|ProgressBar
{
	barSkin: ClassReference("m.skins.fTheme.ProgressBarSkin");
	trackSkin: ClassReference("m.skins.fTheme.ProgressBarTrackSkin");
	/*indeterminateSkin: ClassReference("m.skins.fTheme.ProgressIndeterminateSkin");*/
}

mx|RadioButton
{
	icon: ClassReference("m.skins.fTheme.RadioButtonSkin");
}

mx|ScrollBar
{
	trackSkin: ClassReference("m.skins.fTheme.ScrollBarTrackSkin");
	thumbSkin: ClassReference("m.skins.fTheme.ScrollBarThumbSkin");
	upArrowSkin: ClassReference("m.skins.fTheme.ScrollBarUpButtonSkin");
	downArrowSkin: ClassReference("m.skins.fTheme.ScrollBarDownButtonSkin");
}

mx|Slider
{
	trackSkin: ClassReference("m.skins.fTheme.SliderTrackSkin");
	thumbSkin: ClassReference("m.skins.fTheme.SliderThumbSkin");
}

mx|TabBar
{
	firstTabStyleName: tabBarTab;
	tabStyleName: tabBarTab;
	lastTabStyleName: tabBarTab;
}

.tabBarTab
{
	skin: ClassReference("m.skins.fTheme.TabSkin");	
}

mx|TabNavigator
{
	borderSkin: ClassReference("m.skins.fTheme.BorderSkin");
}

mx|TextInput
{
	borderSkin: ClassReference("m.skins.fTheme.TextInputSkin");
}

mx|TextArea
{
	borderSkin: ClassReference("m.skins.fTheme.TextAreaSkin");
}

mx|TileList
{
	borderSkin: ClassReference("m.skins.fTheme.BorderSkin");
}

mx|TitleWindow
{
	closeButtonUpSkin: ClassReference("m.skins.fTheme.TitleWindowCloseButtonUpSkin");
	closeButtonOverSkin: ClassReference("m.skins.fTheme.TitleWindowCloseButtonOverSkin");
	closeButtonDownSkin: ClassReference("m.skins.fTheme.TitleWindowCloseButtonDownSkin");
}

/*mx|ToolTip
{
	borderSkin: ClassReference("m.skins.fTheme.ToolTipSkin");
}*/

/*mx|Tree
{
	folderClosedIcon: Embed(source="assets/Tree_folderClosedIcon.png");
	folderOpenIcon: Embed(source="assets/Tree_folderOpenIcon.png");
}*/

/*mx|VDividedBox
{
	divider-skin: ClassReference("m.skins.fTheme.DividerSkin");	
}*/

/*mx|VRule
{
	strokeColor: #5380D0;
	stroke-width: 1;
}*/